* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px; /* Fixed width for better control */
    z-index: 1;
}

.menu {
    position: relative;
    width: 100%;
    color: white;
    background-color: rgb(26, 26, 130);
    border: 1px solid black;
    box-shadow: 2px 2px black;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin: 2px;
}

.sous-menu-container {
    display: none;
    position: absolute;
    left: 80%;
    top: 0;
    min-width: 150px;
    z-index: 1000;
}

.sous-menu {
    color: white;
    background-color: rgb(15, 15, 126);
    border: 1px solid #cccc;
    text-align: center;
    padding: 5px;
}

.active {
    background-color: #848383;
}

.menu:hover {
    background-color: #848383;
}